/**
* Common theme for sharing $global-theme and dynamically
* created variant theme color classes
*/
@import '../../common/assets/styles.scss';
@include theme-setup($global-theme);

.billing-app-container{
    
    // background: linear-gradient(#DFEFF2, white);
    background-color: $Page-backgorund;
    min-height: 100%;
    padding-top: 30px;
}

.user-account-dialog-container .mat-dialog-container{
    padding:5px !important;
    overflow: hidden;
  }
